body {
  background: white;
  position: relative;
}

.art-nouveau-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px; /* Adjust height as necessary */
  background: url('/public/art_nouveau.png') no-repeat;
  background-position: left bottom, right bottom;
  background-size: contain;
  pointer-events: none; /* Ensures the image does not interfere with user interaction */
}

.my-bookings-container {
  position: relative;
  z-index: 1; /* Ensures the content is above the background image */
}
