body {
  background: white;
  position: relative;
}

.art-nouveau-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 110%; /* Adjust width as necessary */
  height: 110%; /* Adjust height as necessary */
  background: url('../public/art-noveauleft.png') no-repeat;
  background-size: contain;
  background-position: bottom left;
  pointer-events: none; /* Ensures the image does not interfere with user interaction */
  z-index: -1; /* Ensure this is below the navbar */
}

.art-nouveau-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 110%; /* Adjust width as necessary */
  height: 110%; /* Adjust height as necessary */
  background: url('../public/art-noveauright.png') no-repeat;
  background-size: contain;
  background-position: bottom right;
  pointer-events: none; /* Ensures the image does not interfere with user interaction */
  z-index: -1; /* Ensure this is below the navbar */
}

.my-bookings-container {
  position: relative;
  z-index: -1; /* Ensures the content is above the background image */
}

.art-nouveau-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust width as necessary */
  height: 100%; /* Adjust height as necessary */
  background: url('../public/art_noveau.png') no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none; /* Ensures the image does not interfere with user interaction */
  z-index: -1; /* Ensure this is below the navbar */
}
